﻿<div class="col-md-12 " id="steptabtab">
    <div class="padbtn20">
        <div class="datapipelinebox">
            <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="error">
                <strong>Error!</strong> {{error}}
            </div>
            <form>
                <fieldset>
                    <fieldset class="form-group">
                        <input type="text" class="form-control form-control-lg"
                               placeholder="User Name"
                               id="userName" required
                               [(ngModel)]="model.userName" name="userName">
                    </fieldset>

                    <fieldset class="form-group">
                        <input type="password" class="form-control form-control-lg"
                               placeholder="Password"
                               id="password" required
                               [(ngModel)]="model.password" name="password" />
                    </fieldset>

                    <button class="btn btn-lg btn-primary pull-xs-right"
                            type="submit" (click)="login();">
                        LOGIN
                    </button>

                </fieldset>
            </form>
        </div>
    </div>
</div>