﻿<div class="main-wrapper">
    <div id="wrapper" [ngClass]="{toggled: isToggled()}">
        <!--header start-->
        <div class="wrapper-header">
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <a routerLink="/organizations" routerLinkActive="active">organizations</a>
                <a routerLink="/login" routerLinkActive="active">login</a>
                <ul class="nav sidebar-nav">
                    <li>
                        <a href="#">
                            <span>
                                <img src="images/home.png">
                            </span> Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="images/data.png">
                            </span> Data Pipeline
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="images/notification.png">
                            </span> Notification
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="images/report.png">
                            </span> Reports
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="images/user.png">
                            </span> Users
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="images/setting.png">
                            </span> Settings
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header">
                <div class="menu-btn">
                    <button type="button" class="hamburger animated fadeInLeft {{isToggled() ? 'is-open' : 'is-closed'}}" data-toggle="offcanvas" (click)="toggle()">
                        <span class="hamb-top">
                        </span>
                        <span class="hamb-middle">
                        </span>
                        <span class="hamb-bottom">
                        </span>
                    </button>
                </div>
                <div class="col-md-12 header-wrapper">
                    <div class="col-md-2 logo">
                        <img src="images/logo.png" class="img-responsive">
                    </div>
                    <!----searchbar----->
                    <div class="col-md-7 search-box ">
                        <!--<form class="navbar-form search" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control pull-right searchbox" placeholder="Search">
                                <span class="input-group-btn serch">
                                    <button type="reset" class="btn btn-search">
                                        <span class="srachicon">
                                            <img src="images/search.png">
                                        </span>
                                    </button>
                                </span>
                            </div>
                        </form>-->
                    </div>
                    <div class="col-md-5 profile pull-right" show-authed="true" style="display: inherit;">
                        <div class="dropdown" (click)="logout()">
                            <button class="btn btn-default dropdown-toggle ng-binding" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="images/person.png">
                                Hi a b
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a ng-click="$ctrl.alterRules('USER')">
                                        Manage Notifications
                                    </a>
                                </li>
                                <li><a ng-click="$ctrl.logout()">LOGOUT</a></li>
                            </ul>
                        </div>

                        <!--<div class="profile">
                            <img src="images/person.png">
                            <span>
                                <a>
                                    Hi {{$ctrl.User.current.firstName}} {{$ctrl.User.current.lastName}}
                                </a>
                            </span>
                            <span>
                                <button class="btn btn-sm btn-primary pull-xs-right"
                                        type="submit" ng-click="$ctrl.logout()">
                                    LOGOUT
                                </button>
                            </span>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!--header end-->
        <div id="page-content-wrapper">
            <router-outlet></router-outlet>
        </div>
        <!--footer start-->
        <footer>
            <!--<div class="container">
              <a class="logo-font" ui-sref="app.home" ng-bind="::$ctrl.appName | lowercase"></a>
              <span class="attribution">
                &copy; {{::$ctrl.date | date:'yyyy'}}.
                An interactive learning project from <a href="https://thinkster.io">Thinkster</a>.
                Code licensed under MIT.
              </span>
            </div>-->
        </footer>
        <!--footer end-->
    </div>
</div>